---
import ContactCta from './ContactCta.astro';
import FloatingWhatsApp from './FloatingWhatsApp.astro';
import Footer from './Footer.astro';
import Faq from './Faq.astro';
import Features from './Features.astro';
import Header from './Header.astro';
import Hero from './Hero.astro';
import HowItWorks from './HowItWorks.astro';
import Pricing from './Pricing.astro';
---
<Header />

  <main>
    <Hero />

    <Features />

    <Pricing />

    <HowItWorks />

    <Faq />

    <ContactCta />
  </main>

  <Footer />

  <FloatingWhatsApp />
